In [202]:
import pandas as pd

In [203]:
housing = pd.read_csv("Book1.csv")

In [204]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [205]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [206]:
housing['CHAS'].value_counts()

0    471
1     35
Name: CHAS, dtype: int64

In [207]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [208]:
%matplotlib inline

In [209]:
import matplotlib.pyplot as plt

In [210]:
# housing.hist(bins=50, figsize=(20, 15))

# Train-Test Splitting

In [211]:
#insight of functions

# import numpy as np

# np.random.seed(42) ##find reason
# def split_train_test(data, test_ratio):
#     shuffled = np.random.permutation(len(data))##search
#     ##print(shuffled)
#     test_set_size = int(len(data) * test_ratio)
#     test_indices = shuffled[:test_set_size]
#     train_indices = shuffled[test_set_size:]
#     return data.iloc[train_indices], data.iloc[test_indices]

In [212]:
#train_set, test_set = split_train_test(housing, 0.2)

In [213]:
#print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}")

In [214]:
from sklearn.model_selection import train_test_split       #we use scikit learn for even distribution of data 
train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)

In [215]:
print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}")

Rows in train set: 404
Rows in test set: 102

In [216]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(housing, housing['CHAS']):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

In [217]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

In [218]:
strat_train_set['CHAS'].value_counts()

0    376
1     28
Name: CHAS, dtype: int64

In [219]:
95/7

13.571428571428571

In [220]:
376/28

13.428571428571429

In [221]:
housing = strat_train_set.copy()

# Looking for Correlations

In [222]:
corr_matrix = housing.corr()

In [223]:
corr_matrix['MEDV'].sort_values(ascending=False)  ## pearson ratio ==> the ratio by which one value increases or decreases by increasing of another value. Max value of pearson ratio is 1. If ratio is near to 1 that means strong positive if near to -1 its strong neagtive

MEDV       1.000000
RM         0.679894
B          0.361761
ZN         0.339741
DIS        0.240451
CHAS       0.205066
AGE       -0.364596
RAD       -0.374693
CRIM      -0.393715
NOX       -0.422873
TAX       -0.456657
INDUS     -0.473516
PTRATIO   -0.493534
LSTAT     -0.740494
Name: MEDV, dtype: float64

In [224]:
# from pandas.plotting import scatter_matrix
# attributes = ["MEDV", "RM", "ZN", "LSTAT"]
# scatter_matrix(housing[attributes], figsize=(12, 8))

In [225]:
# housing.plot(kind = "scatter", x="RM", y="MEDV", alpha=0.8)

In [226]:
housing["TAXRM"] = housing["TAX"]/housing["RM"]

In [227]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,TAXRM
254,0.04819,80.0,3.64,0,0.392,6.108,32.0,9.2203,1,315,16.4,392.89,6.57,21.9,51.571709
348,0.01501,80.0,2.01,0,0.435,6.635,29.7,8.3440,4,280,17.0,390.94,5.99,24.5,42.200452
476,4.87141,0.0,18.10,0,0.614,6.484,93.6,2.3053,24,666,20.2,396.21,18.68,16.7,102.714374
321,0.18159,0.0,7.38,0,0.493,6.376,54.3,4.5404,5,287,19.6,396.90,6.87,23.1,45.012547
326,0.30347,0.0,7.38,0,0.493,6.312,28.9,5.4159,5,287,19.6,396.90,6.15,23.0,45.468948

In [228]:
corr_matrix = housing.corr()
corr_matrix['MEDV'].sort_values(ascending=False)

MEDV       1.000000
RM         0.679894
B          0.361761
ZN         0.339741
DIS        0.240451
CHAS       0.205066
AGE       -0.364596
RAD       -0.374693
CRIM      -0.393715
NOX       -0.422873
TAX       -0.456657
INDUS     -0.473516
PTRATIO   -0.493534
TAXRM     -0.525160
LSTAT     -0.740494
Name: MEDV, dtype: float64

In [229]:
# housing.plot(kind ="scatter", x="TAXRM", y="MEDV", alpha=0.8)

In [230]:
housing = strat_train_set.drop("MEDV", axis=1)
housing_labels = strat_train_set["MEDV"].copy()

In [231]:
# a = housing.dropna(subset=["RM"]) #Option 1
# a.shape

In [232]:
# housing.drop("RM", axis=1).shape # Option 2
# Note that there is no RM column and also note that the original housing dataframe will remain unchanged

In [233]:
# median = housing["RM"].median() # Compute median for Option 3

In [234]:
# housing["RM"].fillna(median) # Option 3
# # Note that the original housing dataframe will remain unchanged

In [235]:
housing.shape

(404, 13)

In [236]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
imputer.fit(housing)

SimpleImputer(strategy='median')

# Creating a Pipeline

In [237]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
    #....... add as many as you want in your pipeline
    ('std_scaler', StandardScaler()),
])

In [238]:
housing_num_tr = my_pipeline.fit_transform(housing)

In [239]:
housing_num_tr

array([[-0.43942006,  3.12628155, -1.12165014, ..., -0.97491834,
         0.41164221, -0.86091034],
       [-0.44352175,  3.12628155, -1.35893781, ..., -0.69277865,
         0.39131918, -0.94116739],
       [ 0.15682292, -0.4898311 ,  0.98336806, ...,  0.81196637,
         0.44624347,  0.81480158],
       ...,
       [-0.43525657, -0.4898311 , -1.23083158, ..., -0.22254583,
         0.41831233, -1.27603303],
       [ 0.14210728, -0.4898311 ,  0.98336806, ...,  0.81196637,
        -3.15239177,  0.73869575],
       [-0.43974024, -0.4898311 ,  0.37049623, ..., -0.97491834,
         0.41070422,  0.09940681]])

# Selecting Desired Model

In [240]:
housing_num_tr.shape

(404, 13)

In [241]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor


# model = LinearRegression()
# model = DecisionTreeRegressor()
model = RandomForestRegressor()
model.fit(housing_num_tr, housing_labels)

RandomForestRegressor()

In [242]:
some_data = housing.iloc[:5]
some_labels = housing_labels.iloc[:5]

In [262]:
prepared_data = my_pipeline.transform(some_data)
prepared_data[0]

array([-0.43942006,  3.12628155, -1.12165014, -0.27288841, -1.42262747,
       -0.24141041, -1.31238772,  2.61111401, -1.0016859 , -0.5778192 ,
       -0.97491834,  0.41164221, -0.86091034])

In [244]:
model.predict(prepared_data)

array([22.287, 25.426, 16.772, 23.379, 23.449])

In [245]:
list(some_labels)

[21.9, 24.5, 16.7, 23.1, 23.0]

In [246]:
import numpy as np
from sklearn.metrics import mean_squared_error

housing_predictions = model.predict(housing_num_tr)
mse = mean_squared_error(housing_labels, housing_predictions)
rmse = np.sqrt(mse)

In [247]:
rmse

1.2698560269605053

## Using better Evaluation Techniques - Cross Validation

In [248]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, housing_num_tr, housing_labels, scoring="neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)

In [249]:
rmse_scores

array([2.79388477, 2.67038434, 4.50949561, 2.63949172, 3.53544605,
       2.60566799, 4.74897018, 3.31492455, 3.13661515, 3.29805292])

In [250]:
def print_scores(scores):
    print("scores: ", scores)
    print("mean: ", scores.mean())
    print("standard_deviation: ", scores.std())

In [251]:
print_scores(rmse_scores)

scores:  [2.79388477 2.67038434 4.50949561 2.63949172 3.53544605 2.60566799
 4.74897018 3.31492455 3.13661515 3.29805292]
mean:  3.325293327940033
standard_deviation:  0.7217540655550938

## Saving Model

In [253]:
from joblib import dump, load
dump(model, 'HousePrice.joblib')

['HousePrice.joblib']

## Testing the Model

In [256]:
X_test = strat_test_set.drop("MEDV", axis=1)
Y_test = strat_test_set["MEDV"].copy()
X_test_prepared = my_pipeline.transform(X_test)
final_predictions = model.predict(X_test_prepared)
final_mse = mean_squared_error(Y_test, final_predictions)
final_rmse = np.sqrt(final_mse)

In [257]:
final_rmse

2.9382629038526935

In [258]:
print (final_predictions[:5])

[24.205 11.229 25.694 21.392 18.322]

In [260]:
print (list(Y_test[:5]))

[16.5, 10.2, 30.1, 23.0, 14.4]